/*GERAL*/

body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #24847c
}

header{
    display: flex;
    justify-content: center;
    background-color: #24847c;
    
    
    
}

.logo-header{
    float: left; /* Adicione essa propriedade */
    margin-right: 10px; /* Ajuste a margem conforme necessário */
    height: 6em;
    

}

/*LOGO*/
.logo h2{
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.logo span{
    color: #205454;
}


/*INICIO*/



.section-1{
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 700px;
    background-image: url(../assets/fundo1.png);
    background-repeat: no-repeat;
  background-size: cover;
  
}



.area-title h3{
    color: #fff;
    font-weight: 1em;
    margin-left: 10px;
    font-size: 35px;
}

.area-title h1{
    margin-left: 10px;
    color: #fff;
    font-size: 55px;
    line-height: 70px;

}

.button{
    border-radius: 7px;
    margin-bottom: 25px;
    margin-left: 10px;

    
    
}

.area-title a{
    display: inline-block;
    background-color: #24847c;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}



.image1 img{
    width: 1050px;
    height: auto;
    
    
    

}


@media (max-width: 767px) {

    
    /* Dispositivos móveis com largura de tela até 767 pixels */
    .area-title h1 {
      font-size: 42px;
      line-height: 45px;
      
      
      /* Tamanho menor para dispositivos móveis */
    }
    .area-title h3 {
        font-size: 33px;
        line-height: 35px; /* Tamanho menor para dispositivos móveis */
        
      }
      .button  {
        font-size: 22px;
        line-height: 35px;
        height: 7%;
        text-align: center;
        
        
        
        /* Tamanho menor para dispositivos móveis */


    
        
        
      }}



@media (max-width: 767px) {


    .image1 img{

        width: 0px;
    }

}

/*AREA CARDS 1*/










.cardhome{
    flex-direction: row;
    background-color: #24847c;
    width: 20%;
    height: 110px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    font-size: x-large;
    
    
    
    
}

.cardhome2{
    flex-direction: row;
    background-color: #ffffff;
    width: 20%;
    height: 110px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    font-size: x-large;
    color: #205454;
    font-weight: bold;
    
    
    
}

.card1{
    flex-direction: row;
    
}


@media (max-width: 767px) {

    .cardhome{
        height: 100px;
        font-size: medium;
    }

    .cardhome2{
        height: 100px;
        font-size: small;
    }



}

/*VIDEO*/


.divvideo{
display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
  background-color: #fff;

  
    
    
}

.maca{
    height: 100%;
}

.dr{
    text-align: center;
    background-color: #fff;
    margin: 0px;
    color: #205454;
    padding-top: 45px;
    font-size: xx-large;
    
    

    
}

.video{
    
width: 80%;
height: 80%;
box-shadow: 0px 5px 10px #24847c;
}

/*AREA CARDS 2 */

.section-3{
    background-color: #24847c;
    height: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/fundo2.png);
    background-repeat: no-repeat;
  background-size: cover;
    
    
}

.area-title-2{
    height: 100%;
    
}

.area-title-2 h1{
    
    color: #fff;
    font-size: 59px;
    text-align: justify;

}

.image2 img{
    width: 30%;
    height: auto;
    
    margin-left: 100px;
    float: left;
}

@media (max-width: 767px) {

    .area-title-2 h1{
        margin-left: 40px;
        font-size: 40px;
        text-align: center;
        
    
    }

    .image2 img{
        height: 0px;
        width: 0px;
        
        
    }


}

.area-title-2 h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -26px;

}

.area-title-2 a{
    display: inline-block;
    background-color: #fff;
    padding: 20px 85px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.mural{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
}

.mural-item{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: center;
    width: 40%;
    height: 250px;
    margin: 1vh;
    font-size: 20px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 5px  20px black;
    
}

.mural-item-b{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-align: center;
    width: 40%;
    margin: 1vh;
    font-size: 25px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 5px  20px black;
    line-height: 30px;
    padding-top: 20px;
    line-height: 30px;
    
}



@media (max-width: 768px) {
    .mural-item{
        width: 100%;
        height: auto;
        font-size: 18px;
        

    }


    .mural-item-b{
        width: 80%;
        font-size: 20px;
        
        
    }


}



.section-cards{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-top: 40px;
 margin-bottom: 20px;
 

}



.cards{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


.cardshome {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 20%;
    height: 135px;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0px 5px 25px black;
  }
  
  .card img {
    margin-bottom: 10px; /* Adiciona margem inferior para separar a imagem do texto */
  }

@media (max-width: 768px) {
    .cardshome{
        gap: 0px;
    }

    .card{
        border-radius: 0px;
        box-shadow: 1px 1px 1px  black;
        
        
        
    }
}



.card:hover{
    background-color: #24847c;
    transition: 0.3s all;
}

.card img{
    padding-top: 20px;
    width: 60px; 
    
    
}






@media (max-width: 768px) {

    .card{
        font-size: 12px;
    }

    .card img{

        width: 40px;

    }


}



/* RESULTADOS */

.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
   

}

.slider img {
  width: 25%; /* 25% para cada imagem quando não está em dispositivos móveis */
  height: auto;
}

/* Media query para dispositivos móveis */
@media (max-width: 767px) {
  .slider img {
    width: 100%; /* 100% para cada imagem quando está em dispositivos móveis */
    height: auto;
  }
}




.resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    
}

.resultados-img{
    width: 1100px;
    height: auto;
    max-width: 70%;
    margin-bottom: 50px;
    margin-left: 20px;
    
   
}

.resultados h1{
    color: #24847c;
    font-size: xx-large;
}

.formulario form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}
.formulario2{
    background-color: white;
}

.formulario input{
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Oswald';
}



.trena{
    
    max-width: 18%;
    width: 30%;
    height: 30%;
}

/* DEPOIMENTOS */

.depoimentos{
    text-align: center;
    
    background-color: #24847c;
    margin: 0px ;
    color: white;
    padding-bottom: 20px;
    padding-top: 30px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../assets/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.subdiv {
    width: 30%;
    
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 30px;
    
}

.subdiv img {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .subdiv {
        width: 100%;
    }
}






.area-form h2{
    color: #000000;
    text-align: center;

}



input::placeholder{
    color: #000;
    text-transform: uppercase;
}

input[type="submit"]{
    background-color: #1A7993;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os elementos */
    align-items: center; /* Centraliza verticalmente os elementos */
    background-image: url(../assets/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0px;
  }
  
  .social {
    margin-left: 20px;
  }
  
  .social h3 {
    color: #fff;
    font-weight: normal;
  }
  
  .social img {
    width: 30px;
    margin-left: 15px;
  }


  .botao-whatsapp {
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .botao-whatsapp::after {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../assets/whatsapp.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }




