/*GERAL*/

body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #205454
}

header{
    display: flex;
    justify-content: center;
    background-color: #205454;
    
    
}

/*LOGO*/
.logo h2{
    color: #fff;
    font-size: 30px;
}

.logo span{
    color: #1A7993;
}


/*INICIO*/



.section-1{
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 600px;
    background-image: url(../assets/fundo1.png);
    background-repeat: no-repeat;
  background-size: cover;
}

.area-title h3{
    color: #fff;
    font-weight: normal;
}

.area-title h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    
    
}

.area-title a{
    display: inline-block;
    background-color: #205454;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.button{
    border-radius: 7px;
    margin-bottom: 25px;
}

.image1 img{
    width: 960px;
    height: auto;
    max-width: 100%;
    
    

}

/*AREA CARDS 1*/










.cardhome{
    flex-direction: row;
    background-color: #205454;
    width: 20%;
    height: 80px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    
    
    
}

.cardhome2{
    flex-direction: row;
    background-color: #ffffff;
    width: 20%;
    height: 80px;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    
    
}

.card1{
    flex-direction: row;
    
}

/*VIDEO*/


.divvideo{
display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
  background-color: #fff;

  
    
    
}

.maca{
    height: 100%;
}

.dr{
    text-align: center;
    background-color: #fff;
    margin: 0px;
    color: #205454;
    
    padding-top: 25px;
    font-size: xx-large;

    
}

.video{
    
width: 80%;
height: 80%;
}

/*AREA CARDS 2 */

.section-3{
    background-color: #205454;
    height: 100%;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/fundo2.png);
    background-repeat: no-repeat;
  background-size: cover;
    
    
}

.area-title-2{
    height: 100;
}

.area-title-2 h1{
    padding-top: 49px;
    color: #fff;
    font-size: 35px;
    text-align: justify;

}

.area-title-2 h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -26px;

}

.area-title-2 a{
    display: inline-block;
    background-color: #fff;
    padding: 20px 85px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

.mural{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mural-item{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    width: 30%;
    margin: 1vh;
    font-size: 20;
    margin-bottom: 40px;
    
  padding: 10px;
  
  


}

.section-cards{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-top: 40px;
 margin-bottom: 20px;
 

}



.cards{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


.cardshome{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 20px black;
    
}

.card{
    flex-direction: column-reverse;
    background-color: #ffffff;
    width: 20%;
    height: 130px;
    
    align-items: center;
    text-align: center;
    font-size: small;
    
    
    
    
    
    
        

        
    
}




.card:hover{
    background-color: #1A7993;
    transition: 0.3s all;
}

.card img{
    padding-top: 20px;

    width: 60px; 
    
    
}



/* RESULTADOS */




.image2 img{
    width: 30%;
    height: auto;
    
    margin-left: 100px;
    float: left;
}

.resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    
}

.resultados-img{
    width: 60%;
    height: 60%;
    padding-bottom: 50px;
    padding: 50px;

    
    
    
}

.formulario form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}
.formulario2{
    background-color: white;
}

.formulario input{
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Oswald';
}



.trena{
    max-width: 18%;
    width: 30%;
    height: 30%;
}

/* DEPOIMENTOS */

.depoimentos{
    height: auto;
    display: flex;
    flex-direction: row;
    background-image: url(../assets/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
}

.depoimentos-text{
    text-align: center;
    
    padding-top: 20px;
    

}


.depoimentos-card{
    height: auto;
    padding: 150px;
    
    
    
    
}

.depoimentos-img{
    width: 100%;
    height: 65%;
    border-radius: 20px;
    
    

}

.area-form h2{
    color: #000000;
    text-align: center;

}



input::placeholder{
    color: #000;
    text-transform: uppercase;
}

input[type="submit"]{
    background-color: #1A7993;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
}

footer{
    margin-top: 100px;
}
.social h3{
    color: #fff;
    font-weight: normal;
}

.social img{
    width: 30px;
    margin-left: 15px;
}


